route:
 group_by: ['alertname']
 group_wait: 30s
 group_interval: 5m
 repeat_interval: 1h
 receiver: 'email-me'

receivers: 
- name: 'web.hook'
  webhook_configs:
  - url: 'http://127.0.0.1:5001/'
- name: 'email-me'
  email_configs:
  - to: '${EMAIL}'
    from: '${EMAIL}'
    smarthost: '${SMTP}'
    auth_username: '${AUTH_UNAME}'
    auth_identity: '${AUTH_UNAME}'
    auth_password: '${PASS_AUTH}'
    
# Inhibition rules allow to mute a set of alerts given that another alert is
#firing.
# We use this to mute any warning-level notifications if the same alert is
# already critical.
inhibit_rules:
 - source_match:
     severity: 'critical'
   target_match:
     severity: 'warning'
   equal: ['alertname', 'dev', 'instance']


